<div class="row row-buffer"></div>

<div class="row container">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="white">New Genre</h1>
      </div>
    </div>
    <%= render 'form' %>