<div id="banner">
  <p class="title">Movie Library</p>
</div>

<div id="bar">
  <div class="row">
    <div class="large-16 column">
      <div class="menu-centered">
        <ul class="menu">
          <li class="active">
            <%= link_to 'HOME', root_path %>
          </li>
          <li class="inactive">
            <%= link_to 'MOVIES', movies_path %>
          </li>
          <li class="inactive">
            <%= link_to 'GENRES', genres_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">

  </div>
</div>
